<form role="form">
  {{input type="hidden" valueBinding="id"}}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="animal_id">Animal ID</label>
          {{input valueBinding="animal_id" class="form-control"}}
        </div>
        <div class="form-group">
          <label for="nickname">Nickname</label>
          {{input valueBinding="nickname" class="form-control"}}
        </div>
        <div class="form-group">
          <label for="birthdate">Birthdate</label>
          {{input valueBinding="birthdate" class="form-control"}}
        </div>
        <div class="form-group">
          <label for="deathdate">Deathdate</label>
          {{input valueBinding="deathdate" class="form-control"}}
        </div>
        <div class="form-group">
          <label for="microchip">Microchip</label>
          {{input valueBinding="microchip" class="form-control"}}
        </div>
        <div class="form-group">
          <label for="release_location_N">Release Loc N</label>
          {{input valueBinding="release_location_N" class="form-control"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="release_site">Release Site</label>
          {{input valueBinding="release_site" class="form-control"}}
        </div>
        <div class="form-group">
          <label for="frequency">Frequency</label>
          {{input valueBinding="frequency" class="form-control"}}
        </div>
        <div class="form-group">
          <label for="sex">Sex</label>
          {{input valueBinding="sex" class="form-control"}}
        </div>
        <div class="form-group">
          <label for="release_date">Release Date</label>
          {{input valueBinding="release_date" class="form-control"}}
        </div>
        <div class="form-group">
          <label for="enclosure_type">Enclosure Type</label>
          {{input valueBinding="enclosure_type" class="form-control"}}
        </div>
        <div class="form-group">
          <label for="release_location_E">Release Loc E</label>
          {{input valueBinding="release_location_E" class="form-control"}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="remarks">Remarks</label>
          {{textarea valueBinding="remarks" rows="5" cols="40" class="form-control"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="cause_of_death">Cause of Death</label>
          {{textarea valueBinding="cause_of_death" rows="5" cols="40" class="form-control"}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-offset-10">
        <div class="form-group">
          {{input type="submit" class="form-control"}}
        </div>
      </div>
    </div>
  </div>
</form>
