{{input valueBinding="id"}}
<p class="clear">
  <label for="animal_id">Animal ID</label>
  {{input valueBinding="animal_id"}}
</p>
<p class="clear">
  <label for="nickname">Nickname</label>
  {{input valueBinding="nickname"}}
</p>
<p class="clear">
  <label for="birthdate">Birthdate</label>
  {{input valueBinding="birthdate"}}
</p>
<p class="clear">
  <label for="deathdate">Deathdate</label>
  {{input valueBinding="deathdate"}}
</p>
<p class="clear">
  <label for="microchip">Microchip</label>
  {{input valueBinding="microchip"}}
</p>
<p class="clear">
  <label for="release_site">Release Site</label>
  {{input valueBinding="release_site"}}
</p>
<p class="clear">
  <label for="frequency">Frequency</label>
  {{input valueBinding="frequency"}}
</p>
<p class="clear">
  <label for="sex">Sex</label>
  {{input valueBinding="sex"}}
</p>
<p class="clear">
  <label for="release_date">Release Date</label>
  {{input valueBinding="release_date"}}
</p>
<p class="clear">
  <label for="enclosure_type">Enclosure Type</label>
  {{input valueBinding="enclosure_type"}}
</p>
<p class="clear">
  <label for="release_location_N">Release Loc N</label>
  {{input valueBinding="release_location_N"}}
</p>
<p class="clear">
  <label for="release_location_E">Release Loc E</label>
  {{input valueBinding="release_location_E"}}
</p>
<p class="clear">
  <label for="remarks">Remarks</label>
  {{textarea valueBinding="remarks" rows="5" cols="40"}}
</p>
<p class="clear">
  <label for="cause_of_death">Cause of Death</label>
  {{textarea valueBinding="cause_of_death" rows="5" cols="40"}}
</p>
<p class="clear">
  {{input type="submit"}}
</p>
