<br class="clear" />
<table>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Name</td>
    <td>Species</td>
    <td>ID</td>
    <td>Freq</td>
    <td>Sex</td>
    <td>B Date</td>
    <td>R Date</td>
    <td>Microchip</td>
    <td>N</td>
    <td>E</td>
    <td>Site</td>
    <td>&nbsp;</td>
  </tr>
  {{#each}}
    <tr>
      <td>map</td>
      <td>report</td>
      <td>{{nickname}}</td>
      <td>{{species.name}}</td>
      <td>{{animal_id}}</td>
      <td>{{frequency}}</td>
      <td>{{sex}}</td>
      <td>{{birthdate}}</td>
      <td>{{release_date}}</td>
      <td>{{microchip}}</td>
      <td>{{release_location_N}}</td>
      <td>{{release_location_E}}</td>
      <td>{{release_site}}</td>
    </tr>
  {{/each}}
</table>
