    <tr>
    {{#if bloated}}
      <td>
        <a href="#" {{action 'bloat'}}>
          <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </td>
      <td><span class="glyphicon glyphicon-file"></span></td>
      <td colspan="11">
        <div class="container">
          <div class="row">
            <div class="col-md-1">
              <span class="glyphicon glyphicon-tree-conifer"></span>
            </div>
            <div class="col-md-1">
              <span class="glyphicon glyphicon-file"></span>
            </div>
            <div class="col-md-2">
              <strong>{{#link-to 'animals.edit' mongoid}}{{nickname}}{{/link-to}}</strong>
            </div>
            <div class="col-md-3">
              <strong>{{capitalizeAll project.organization.name}}</strong>
            </div>
            <div class="col-md-3">
              <strong>{{capitalizeAll project.name}}</strong>
            </div>
            <div class="col-md-1">
              {{#link-to 'animals.edit' mongoid}}<span class="glyphicon glyphicon-edit"></span>{{/link-to}}
            </div>
            <div class="col-md-1">
              <a href="#"><span class="glyphicon glyphicon-trash"></span>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-2">
              <div>
                <strong>Animal ID:</strong>
              </div>
              <div>
                <strong>Frequency:</strong>
              </div>
              <div>
                <strong>Sex:</strong>
              </div>
              <div>
                <strong>Birthdate:</strong>
              </div>
              <div>
                <strong>Release Date:</strong>
              </div>
              <div>
                <strong>Microchip:</strong>
              </div>
            </div>
            <div class="col-md-4">
              <div>
                {{animal_id}} {{id}} the id&nbsp;
              </div>
              <div>
                {{frequency}}&nbsp;
              </div>
              <div>
                {{sex}}&nbsp;
              </div>
              <div>
                {{formatDate birthdate}}&nbsp;
              </div>
              <div>
                {{formatDate release_date}}&nbsp;
              </div>
              <div>
                {{microchip}}&nbsp;
              </div>
            </div>
            <div class="col-md-2">
              <div>
                <strong>Species:</strong>
              </div>
              <div>
                <strong>Enclosure Type:</strong>
              </div>
              <div>
                <strong>Release Site:</strong>
              </div>
              <div>
                <strong>Release Loc N:</strong>
              </div>
              <div>
                <strong>Release Loc E:</strong>
              </div>
              <div>
                <strong>Deathdate:</strong>
              </div>
            </div>
            <div class="col-md-4">
              <div>
                {{capitalizeAll species.name}}&nbsp;
              </div>
              <div>
                {{enclosure_type}}&nbsp;
              </div>
              <div>
                {{release_site}}&nbsp;
              </div>
              <div>
                {{release_location_N}}&nbsp;
              </div>
              <div>
                {{release_location_E}}&nbsp;
              </div>
              <div>
                {{formatDate deathdate}}&nbsp;
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6">
              <div><strong>Remarks</strong></div>
              <div>{{remarks}}</div>
            </div>
            <div class="col-md-6">
              <div><strong>Cause of Death</strong></div>
              <div>{{cause_of_death}}</div>
            </div>
        </div>
      </td>
    {{else}}
      <td>
        <a href="#" {{action 'bloat'}}>
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
      </td>
      <td><span class="glyphicon glyphicon-tree-conifer"></span></td>
      <td><span class="glyphicon glyphicon-file"></span></td>
      <td><a href="/#/animals/{{unbound mongoid}}">{{nickname}}</a></td>
      <td>{{capitalizeAll species.name}}</td>
      <td>{{animal_id}}</td>
      <td>{{sex}}</td>
      <td>{{project.abbr}} {{project.name}}</td>
      <td>{{capitalizeAll project.name}}</td>
      <td>{{formatDate birthdate}}</td>
      <td>{{#link-to 'animals.edit' mongoid}}<span class="glyphicon glyphicon-edit"></span>{{/link-to}}</td>
      <td><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
    {{/if}}
    </tr>
